body {
  background-color: #ffffff;
}
.myCanvas {
  background-color: #fcfcfc;
  position: absolute;
  top: 0px;
  left: 0px;
}
#area1 {
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  width: 270px;
}
#area2 {
  float: relative;
  position: relative;
  top: 0px;
  left: 285px;
  width: 450px;
  height: 450px;
}
#views {
  position: relative;
  width: 450px;
  height: 450px;
}
.left {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.clear {
  margin-top: 0px;
  margin-bottom: 0px;
  clear: both;
}
#dis {
  margin-top: 0px;
}
#con {
  margin-top: 0px;
}
